body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fdf7f9;
  color: #2a2a2a;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #f2c6d6, #d38fa7, #c06c8d);
  padding: 40px 20px 25px 20px;
  text-align: center;
}

.main-title {
  font-family: 'Parisienne', cursive;
  font-size: 145px;
  margin: 0;
  color: white;
  letter-spacing: 2px;

  text-shadow:
    0 0 15px rgba(255,255,255,0.7),
    0 0 30px rgba(255,255,255,0.5),
    4px 6px 18px rgba(0,0,0,0.25);
}

.subtitle {
  margin-top: 8px;
  font-size: 22px;
  color: white;
  font-weight: 500;
}

#searchBar {
  margin-top: 15px;
  padding: 12px;
  width: 60%;
  max-width: 520px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
}

/* DASHBOARD */
.dashboard {
  padding: 40px 60px;
}

.system-title {
  margin-top: 40px;
  font-size: 26px;
  color: #a05470;
  border-bottom: 2px solid #e8cfd8;
  padding-bottom: 8px;
}

/* GRID */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* DISEASE CARDS */
.disease-card {
  background-color: #f7dce5;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: all 0.25s ease;
}

.disease-card:hover {
  background-color: #eec2d1;
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}
